<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-center">
      <a class="nav-item" href="#">
        <span data-icon="ei-pencil" data-size="m"></span>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a class="button">
          Register
        </a>
        <a class="button">
          Login
        </a>
      </span>
    </div>
  </div>
</nav>
