<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-center">
      <a class="nav-item" href="#">
        <span data-icon="ei-pencil" data-size="m"></span>
        <h1 class="title is-primary" style="color: #1fc8db">DevLog</h1>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <span class="nav-item">
      {{#if user }}
        <a class="button">
          Register
        </a>
      {{/end}}
      </span>
    </div>
  </div>
</nav>
