extends layout


block content
  include nav
  section.section.main
    .container
      include messages
      .columns
        .column.is-8
          if session.username
            .box
              include form
          each log, index in logs
              .box
                article.media
                  .media-left
                    figure.image.is-64x64
                      img(src='http://placehold.it/128x128', alt='Image')
                  .media-content
                    .content
                      p
                        strong= log._fields[0]
                        small(style='float:right;') 31m
                        br
                        = log._fields[1]
                        each tag in log._fields[2]
                          div.tag.is-primary
                            =tag
                    nav.level
                      .level-left
                        a.level-item(href='/like/'+log._fields[3])
                          span.icon.is-medium(data-icon='ei-heart')
        .column.is-4
          .box
            p
              span.title.is-5 Who to follow
              |  · 
              a(href='#') Refresh
              |  · 
              a(href='#') View All
            hr
            .columns
              .column.is-3.is-marginless
                .image
                  img(src='https://placehold.it/200x200')
              .column.is-9
                p
                  a(href='#')
                    strong John Smith
                    |                   &commat;jsmith
                  a(href='#')
                    i(data-icon='ei-close-o', data-size='s')
                a.button.is-primary.is-small
                  span
                    | + Follow

