doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', sizes='180x180', href='http://bulma.io/favicons/apple-touch-icon.png?v=201701041855')
    link(rel='icon', type='image/png', href='http://bulma.io/favicons/favicon-32x32.png?v=201701041855', sizes='32x32')
    link(rel='icon', type='image/png', href='http://bulma.io/favicons/favicon-16x16.png?v=201701041855', sizes='16x16')
    link(rel='manifest', href='http://bulma.io/favicons/manifest.json?v=201701041855')
    link(rel='mask-icon', href='http://bulma.io/favicons/safari-pinned-tab.svg?v=201701041855', color='#00d1b2')
    link(rel='shortcut icon', href='http://bulma.io/favicons/favicon.ico?v=201701041855')
    meta(name='msapplication-config', content='http://bulma.io/favicons/browserconfig.xml?v=201701041855')
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/evil-icons/1.9.0/evil-icons.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/base.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/timeline.css')
    script(src='https://cdn.jsdelivr.net/evil-icons/1.9.0/evil-icons.min.js')
  body
    block content
