nav.nav.has-shadow
  .container
    .nav-center
      a.nav-item(href='/')
        span(data-icon='ei-pencil', data-size='m')
        h1.title.is-primary(style='color: #1fc8db') DevLog
    span.nav-toggle
      span
      span
      span
    .nav-right.nav-menu
      span.nav-item
        if session.username
          a.button.is-outlined(href='/profile/'+session.username, data-balloon='Click here to see your profile', data-balloon-pos='down')
            | Welcome back, 
            span= session.username

          a.button.is-danger.is-outlined(href='/logout')
            | Logout
        else
          a.button(href="/register")
            | Register
          a.button.is-primary.is-outlined(href="/login")
            | Login

